/* Agregamos lo que son nuevas fuentes */
@font-face {
    font-family: 'Geist-Black';
    src: url('./fonts/Geist-Black.otf')
}

@font-face {
    font-family: 'Geist-Regular';
    src: url('./fonts/Geist-Regular.otf')
}

/* En este primer body ponemos un fondo de color negro */
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    align-items: center;
    font-family: Geist-Regular;
}

/* Poner a las imágenes solo un 5% de su tamaño original */
img {
    width: 18rem;
    height: 10rem;
    border-radius: 5px;
    box-sizing: content-box;
    margin-left: 7%;
}

@media(max-width:1024px) {
    img {
        width: 12rem;
        height: 8rem;
        border-radius: 5px;
        box-sizing: content-box;
        margin-left: 5%;
    }
}

/* A todos los selectores de texto plano se les pone tipo de letra y nueva */
h1,
h2,
h3,
span {
    font-family: 'Geist-Black';
    color: rgba(255, 255, 255, 0.906);
}

p,
a,
li {
    font-family: 'Geist-Regular';
    text-decoration: none;
    color: rgba(255, 255, 255, 0.635);
}

section {
    background-color: rgba(32, 28, 23, 0.202);
    width: 85%;
    height: 63rem;
    margin-left: 5%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 6%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
    order: 2;
}

@media(max-width:1024px) {
    section {
        gap: 1px ;
    }
}

div {
    background-color: rgba(151, 205, 251, 0.295);
    box-sizing: border-box;
    padding-top: 1%;
    width: 30%;
    margin-left: 5%;
    border-radius: 5px;
    height: 17rem;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 2%;
    gap: 1%;
    margin-bottom: 0;
}

div:hover{
    filter: brightness(1.1);
    background-color: rgba(25, 21, 85, 0.28);
    color: black;

}
div img{
 transition: 0.5s;
}

div img:hover{ 
    margin-top: 10%;
    transform: scale(1.5);
}

@media(max-width:1024px) {
    div h3 {
        font-size: small;
    }
}

@media(max-width:1024px) {
    div {
        margin-left: 5%;
        width: 30%;
        height: 12rem;
        gap: 10%;
    }
    
}

center {
    margin-top: 5%;
}

center h1 {
    font-size: 350%;
}